<div class="row dashboard">
  <div class="col-sm-4" *ngFor="let company of companiesService.companies">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">{{company.name}}</h4>
        <button class="btn btn-primary" (click)="companiesService.subscribeToCompany(company.id)" *ngIf="!companiesService.companySubscribed(company)">Subscribe</button>
        <a href="#" class="btn btn-primary disabled" *ngIf="companiesService.companySubscribed(company)">Subscribed</a>
      </div>
    </div>
  </div>
</div>
