<div class="alert alert-success dashboard" *ngIf="!notification == ''" role="alert">
  {{notification.message}}
</div>
<div class="row dashboard">
  <div class="card dashboard col-sm-4" *ngFor="let company of companiesService.subscribed_companies">
    <div class="card-body">
      <h4 class="card-title">{{company.name}}</h4>
    </div>
    <ul class="list-group list-group-flush" *ngIf="company.turns.length > 0">
      <li class="list-group-item" *ngFor="let turn of company.turns">Assigned Turn: {{turn.codeletter}}{{turn.turn_number}} <span *ngIf="turn.status =='calling'" class="green"> - Calling</span><span *ngIf="turn.status =='ongoing'" class="yellow"> - Ongoing</span></li>
    </ul>
    <div class="card-body" *ngIf="!company.turns.length > 0">
      <button class="btn btn-primary" (click)="turnsService.requestTurn(company.id)">Request Turn</button>
    </div>
  </div>
</div>