<ul class="nav nav-tabs navigation">
  <li class="nav-item">
    <a class="nav-link" routerLink="/companies" routerLinkActive="active">Companies</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/turns" routerLinkActive="active">Turns</a>
  </li>
</ul>
