/* You can add global styles to this file, and also import other style files */
.dashboard{
  margin-top: 20px;
}
button{
  cursor: pointer;
}
.disabled {
   pointer-events: none;
   cursor: default;
}
.green{
  color: green;
  font-weight: bold;
}
.yellow{
  color: orange;
  font-weight: bold;
}